*.o
*.d
.*.swp
*_moc.cpp
*.pass
extra
guisolver
osgutil_test
transform_test
optimize_test
scenesolver_test
optional_test
treevalues_test
scenestateio_test
globaltransform_test
taggedvalueio_test
scenestatetaggedvalue_test
sceneobjects_test
